<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/images/logo.jpg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>

 <!-- <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" class="dropdown-divider" data-bs-toggle="dropdown">
       </a>
</li>-->

<a mat-list-item routerLinkActive="list-item-active"  routerLink="/home">
  <mat-icon>home</mat-icon> Enivronments    
</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="">
  <mat-icon>dashboard</mat-icon> Configuration
</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
  <mat-icon>dashboard</mat-icon> dashboard
</a>
  
  <a mat-list-item routerLinkActive="list-item-active" routerLink="">
    <mat-icon>dashboard</mat-icon> Members
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="">
    <mat-icon>dashboard</mat-icon> Alerts
  </a>
<!--

  <a mat-list-item> <mat-icon>edit</mat-icon> Link 3 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
  <mat-divider></mat-divider>-->
<br>
  <mat-divider></mat-divider>
  
  <a mat-list-item routerLinkActive="list-item-active" routerLink="">
    <mat-icon>dashboard</mat-icon> Shared Enivronments
  </a>


</mat-nav-list>
